:root{
  --green-color: #CDDC39;
  --black-color: #010101;
  --gray-color: #27292D;
  --gray-clear: #4A4B4F;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-color);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.containerBlog{
  display: flex;
  justify-content: center;
  margin-top: 4%;
  flex: 1 1 0%;
}
.principalTitle{
  font-weight: 700;
  color: white;
}

.formBlog{
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 20px;
}

.inputRange{
  width: 100%;
}

.btnEnviar{
  width: 70%;
  border: none;
  padding: 7px;
  color: white;
  border-radius: 7px;
}

.btnRodeado{
  width: 70%;
  border: 1px solid white;
  padding: 7px;
  color: white;
  border-radius: 7px;
   background: none;
}

.btnRodeado:hover{
  background-color: var(--green-color);
  color: #010101;
}

#textAreaBlog{
   height: 95%;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--gray-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a, .dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--green-color);
  display: block;
  transition: 0.3s;
  background: none;
  border: none;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.dropdown-item{
    background-color: #27292D;
}

.btnEnviar{
  background-color: var(--green-color);
}

.labelTitulo{
  color: #f1f1f1;
}

.pInfo{
  color: #f1f1f1;
}

.pInfoGreen{
   color: var(--green-color);
}

.accordion-flush{
  background-color: red;
}


.textNav{
  color: var(--green-color);
  cursor: pointer;
}

.activeBtn {
  background-color: var(--green-color);
  color: var(--black-color);
}

.bg-dark{
   background: var(--gray-color);
}

.selectForm{
   border: 1px solid var(--green-color);
   padding: 5px;
   width: 100%;
   border-radius: 5px;
   background: none;
   color: #CDDC39;
}

.selectForm,
option{
  background-color: #27292D;
}

.selectForm,
option:hover{
  background-color: var(--gray-color);
}


.txtArea{
  background: none;
  transition: all 3s;
  border: 1px solid #ddd;
  border-bottom: 3px solid var(--green-color);
  width: 100%;
  border-radius: 0px;
  color: #ddd;
}

.txtArea:focus{
   border-color: #CDDC39;
   color: #010101;
}

.bg-Mygreen{
  background-color: var(--green-color);
}

.btnEnviarOutlineWhite{
  background: none;
  border: 1px solid white;
  transition: all 1.5s;
}

.btnEnviarOutlineWhite:hover{
  background: white;
  border: 1px solid white;
  color: #27292D;
  font-size: 20px;
}

.btnEnviarOutlineDark{
  background: none;
  border: 1px solid var(--green-color);
  color: #CDDC39;
  transition: all 1.5s;
}

.btnEnviarOutlineDark:hover{
  background: var(--green-color);
  border: 1px solid var(--green-color);
  color: var(--black-color);
  font-size: 20px;
}

.botonesContainer{
   width: 100%;
}

.txtAreaResponse{
  width: 100%;
  height: 250px;
  background: var(--gray-clear);
  color: #ddd;
}

#response{
  display: none;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}